NODE_ENV=development
PORT=8000
DATABASE=yourmongodbconnectionstring
DATABASE_PASSWORD=yourmongodbpassword
JWT_SECRET=yourjwtsecret
JWT_EXPIRES_IN=90d

#Your mailer(the course uses mailtrap sandbox)
EMAIL_USERNAME=youremail
EMAIL_PASSWORD=yourpassword
EMAIL_HOST=yourmailerhost
EMAIL_PORT=yourmailerport 